.driver-popover {
  color: #180a15 !important;
  background-color: #b7fa00 !important;
}

.driver-popover button {
  flex: 1 !important;
  text-align: center !important;
  background-color: #180a15 !important;
  color: #eefce4 !important;
  border: 2px solid #180a15 !important;
  text-shadow: none !important;
  font-size: 14px !important;
  padding: 5px 8px !important;
  border-radius: 6px !important;
}

.driver-popover button:hover {
  color: #180a15 !important;
  background-color: #04ffff !important;
}

.driver-popover button:focus {
  color: #eefce4 !important;
  background-color: rgba(24, 10, 21, 1) !important;
}

.driver-popover button:focus:hover {
  color: #180a15 !important;
  background-color: rgba(4, 255, 255, 0.7) !important;
}
